@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

body {
  font-family: "MedievalSharp", cursive;
  color: #21025c;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0e8ff;
  font-size: 13px;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fffeff;
}

body::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}

header {
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* align-items: center; Centralizar itens no eixo transversal (horizontal) */
  justify-content: center; /* Centralizar itens no eixo principal (vertical) */
}
canvas {
  display: block;
}

#left_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 620px;
  justify-content: space-between;
}

#left_menu .model_selection,
#left_menu .transformation_editing {
  width: 300px;
  margin-bottom: 5px;
  border: #21025c solid 2px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

#left_menu .model_selection {
  overflow-y: auto;
  position: relative;
  height: 300px;
}

.button-options button {
  background-color: #5425aa;
  width: 90px;
  color: white;
  padding: 10px 0px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: MedievalSharp;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button-options button:hover {
  background-color: #21025c;
}


#buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute; /* Alterado para posição absoluta para ajustar a posição */
  left: 47.5%; /* Posiciona no meio horizontalmente */
  transform: translateX(-50%); /* Centraliza completamente o conteúdo */
  margin-left: 7.5px;
  transition: max-width 0.3s;
}

#buttonContainer button {
  transition: max-width 0.3s;
  display: flex;
  background-color: #5425aa;
  width: 270px;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  font-family: MedievalSharp;
  transition: background-color 0.3s;
  margin-top: 10px;
  justify-content: center;
}

#buttonContainer button:hover {
  background-color: #21025c;
}

#left_menu .model_selection::-webkit-scrollbar {
  width: 10px;
}
#left_menu .model_selection::-webkit-scrollbar-track {
  background: #f0e8ff;
}

#left_menu .model_selection::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}

.transformation-options {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.transformation_editing {
  gap: 0;
  display: flex;
  flex-direction: column;
  padding: 8px 30px;
  box-sizing: border-box;
  height: 400px;
  overflow-y: auto;
  position: relative;
}

.transformation_editing::-webkit-scrollbar {
  width: 10px;
}
.transformation_editing::-webkit-scrollbar-track {
  background: #f0e8ff;
}
.transformation_editing::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}

.bottonTXYZ {
  display: flex;
  gap: 5px;
}


.bottonLight input {
  width: 94%;
  margin: 10px auto;
  background: #e6d9ff;
  border-radius: 10px; /* Adiciona bordas arredondadas */
  font-size: 14px; /* Aumenta o tamanho da fonte */
  font-family: "MedievalSharp", cursive; /* Altera a fonte do texto */
  font-weight: bold;
  padding: 5px; /* Adiciona um pequeno espaço interno entre o texto e a borda */
}

#addLightButton {
  padding: 12px 20px; /* Espaçamento interno */
  font-size: 16px; /* Aumenta o tamanho da fonte */
  font-family: "MedievalSharp", cursive; /* Altera a fonte do texto */
  font-weight: bold;
  background-color: #e6d9ff; /* Cor de fundo */
  color: #21025c; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Arredondar cantos */
  cursor: pointer; /* Mostrar cursor de mão ao passar por cima */
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

#addLightButton:hover {
  background-color:#ceb4ff; /* Cor de fundo ao passar o mouse */
}

#confirmLightButton {
  padding: 12px 20px; /* Espaçamento interno */
  font-size: 16px; /* Aumenta o tamanho da fonte */
  font-family: "MedievalSharp", cursive; /* Altera a fonte do texto */
  font-weight: bold;
  background-color: #e6d9ff; /* Cor de fundo */
  color: #21025c; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Arredondar cantos */
  cursor: pointer; /* Mostrar cursor de mão ao passar por cima */
  margin-bottom: 5px;
  margin-top: 1px;
  width: 100%;
}
#confirmLightButton:hover {
  background-color:#ceb4ff; /* Cor de fundo ao passar o mouse */
}


.transformation_editing label {
  display: block;
  font-size: 16px;
  color: #21025c;
  font-weight: bold;
}

.transformation_editing input[type="range"] {
  width: 100%;
  margin: 10px auto;
  background: #21025c;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* Largura do controle deslizante */
  height: 20px; /* Altura do controle deslizante */
  background: #4caf50; /* Cor do controle deslizante */
  border-radius: 50%; /* Forma circular do controle deslizante */
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px; /* Largura do controle deslizante */
  height: 20px; /* Altura do controle deslizante */
  background: #4caf50; /* Cor do controle deslizante */
  border-radius: 50%; /* Forma circular do controle deslizante */
  cursor: pointer;
}
.transformation-editing .bottonTranslation input[type="range"] {
  width: 60%;
  margin: 10px auto;
}

.apply-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #45a049;
}

.menu_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_center .scene,
.menu_center .models {
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: #21025c solid 2px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.menu_center .scene {
  height: 600px;
  width: 650px;
}

.menu_center .models {
  height: 600px;
  width: 310px;
  overflow-y: scroll;
}

.menu_center .models::-webkit-scrollbar {
  width: 10px;
}
.menu_center .models::-webkit-scrollbar-track {
  background: #f0e8ff;
}

.menu_center .models::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}

.menu_center .models .box-models {
  list-style: none; /* Remova a marcação de lista padrão */
  padding: 0; /* Remova o preenchimento padrão da lista */
}

.menu_center .models .box-models li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 115px;
  margin-bottom: 10px; /* Adicione margem inferior entre os itens */
  background-color: #f0e8ff;
}

.menu_center .models .box-models li:hover {
  background-color: #21025c;
  transition: background-color 0.3s;
}

.images-texture button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin-top: 5px;
}

#defaultTextura1Btn {
  background-color: #2b0a79;
}

#defaultTextura2Btn {
  background-color: #1abb04;
}

#defaultTextura3Btn {
  background-color: #610505;
}
footer {
  font-size: 15px;
  color: beige;
  background-color: #21025c;
  text-align: center;
}

footer a {
  color: beige;
  text-decoration: none;
}

footer a:hover {
  color: rgb(21, 255, 0);
  transition: color 0.3s;
}
