@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    font-family: 'MedievalSharp', cursive;
    color: #21025c;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0e8ff;
    font-size: 13px;
    margin: 0;
}


body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fffeff;
}

body::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}

header {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center; /* Centralizar itens no eixo transversal (horizontal) */
    justify-content: center; /* Centralizar itens no eixo principal (vertical) */
}
canvas {
    display: block;
}

#left_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#left_menu .model_selection,
#left_menu .transformation_editing {
    height: 300px;
    width: 300px;
    margin-bottom: 5px;
    border: #21025c solid 2px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.button-options button {
  background-color:#5425aa; 
  width: 93px;
  color: white; 
  padding: 10px 0px; 
  font-size: 16px; 
  border: none; 
  border-radius: 10px;
  cursor: pointer; 
  font-family: MedievalSharp;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button-options button:hover {
  background-color: #21025c;
}

.button-models {
  display: flex;
  justify-content: center;
}
.button-models button {
  display: none;
  background-color:#5425aa; 
  width: 286px;
  color: white; 
  padding: 10px 0px; 
  font-size: 16px; 
  border: none;
  border-radius: 10px; 
  cursor: pointer; 
  font-family: MedievalSharp;
  transition: background-color 0.3s;
  margin-top: 10px;
}


#buttonContainer {
  margin-top: 20px; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;}

#buttonContainer button {
  background-color:#5425aa; 
  width: 286px;
  color: white; 
  padding: 10px 10px; 
  font-size: 16px; 
  border: none;
  border-radius: 10px; 
  cursor: pointer; 
  font-family: MedievalSharp;
  transition: background-color 0.3s;
  margin-top: 10px;
}

#buttonContainer  button:hover {
  background-color: #21025c; 
}
.menu_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_center .scene,
.menu_center .models {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: #21025c solid 2px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.menu_center .scene {
    height: 600px;
    width: 650px;
}

.menu_center .models {
  height: 600px;
  width: 310px;
  overflow-y: scroll;
}

 
.menu_center .models::-webkit-scrollbar {
  width: 10px;
}
.menu_center .models::-webkit-scrollbar-track {
  background: #f0e8ff;
}

.menu_center .models::-webkit-scrollbar-thumb {
  background: #21025c;
  border-radius: 50px;
}


.menu_center .models .box-models{
  list-style: none; /* Remova a marcação de lista padrão */
  padding: 0; /* Remova o preenchimento padrão da lista */

}

.menu_center .models .box-models li {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 115px;
    margin-bottom: 10px; /* Adicione margem inferior entre os itens */
    background-color: #f0e8ff;
}

.menu_center .models .box-models li:hover {
  background-color: #21025c;
  transition: background-color 0.3s;
}

footer {
    font-size: 15px;
    color: beige;
    background-color: #21025c;
    text-align: center;

}

footer a {
    color: beige;
    text-decoration: none;
}

footer a:hover {
    color: rgb(21, 255, 0);
    transition: color 0.3s;
}
